*{
    padding: 0;
    margin: 0;
}
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parent .logo {
    padding: 30px 80px 0px 0px;
}
.parent .logo img{
    height: 100px;
}

.parent .menu{
    display: flex;
    padding: 40px 0px 0px 250px;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.parent .menu .icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.parent .menu .icons .icon{
    border-radius: 50px;
    height: 60px;
    width: 80px;
}
.parent .menu .mainimgdiv {
    padding: 0px 30px 0px 30px;
    height: fit-content;
    width: 500px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent .menu .mainimgdiv .mainimg{
    height: 500px;
    width: 500px

}
.parent .menu .info{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
}
.parent .menu .info .price{
    display: flex;
    gap:100px
}
.parent .menu .info .price .p1{
    font-size: 18px;
    align-self: center;
}
.parent .menu .info .price .p2{
    font-size: 30px;
}
.parent .menu .info .buttons{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    padding: 0px 60px 0px 0px;
}
.parent .menu .info .buttons a{
    background-color: #000000;
    padding: 20px 30px 20px 30px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font: Montserrat;

}
.parent .menu .info .buttons #cart:hover{
    padding: 20px 50px 20px 50px;
    transition: all 0.3s;
}
.parent .menu .info .buttons #now:hover{
    padding: 20px 50px 20px 50px;
    transition: all 0.3s;
}