*{
    box-sizing: border-box ;
}
html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
.maingrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0vw;
    grid-row-gap: 0vw;
    }
    
    .logo { 
        display: flex;
        grid-area: 1 / 1 / 2 / 13; 
        padding-left: 7.321vw;
        font: MyriadPro;
        font-size: 1.464vw;
        color: aqua;
        height: 5.857vw;
    }
    .logo .black{
        color: #010101;
    }
    .nav { 
        display: flex;
        align-items: center;
        grid-area: 2 / 1 / 3 / 13; 
        background-color: #35444F;
        height: 5.124vw;
    }
    .nav div{
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        padding-left: 12.445vw;
        height: 10.249vw;
    }
    .nav div h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font: MyriadPro;
        font-size: 1.464vw;
        color: #FFFFFF;
        border: 0.073vw solid #FFFFFF;
        border-top: 0vw;
        border-bottom: 0vw;
        padding-left: 1.464vw;
        padding-right: 1.464vw;
        height: 50%;
    }
    .nav div h3:hover{
        background-color:#222F3A;
        color:#FFFFFF;
        cursor:pointer;
    }
    .menu { grid-area: 3 / 1 / 6 / 4;
        background-color: aqua;
        width: 25.183vw; 
        height: 22.108vw;
        margin-left: 7.321vw;
        /* border: 0.073vw solid #000000; */
        background: rgba(0, 0, 0, 0.0001);
    }
    .menu div{
        display: flex;
        flex-direction: column;
        width: 25.037vw;
        justify-content: left;
        height: 21.962vw;
    }
    .menu div div{
        border: 0.146vw solid;
        padding: 0;
        border: 0.073vw solid aliceblue;
    }
    .menu div div h3 {
        font-family: 'Roboto';
        font-size: 1.464vw;
        height: 100%;
        color: #485863;   
        padding-left: 1.464vw;     
    }
    .menu div div:hover{
        background-color:#DBDBDB;
        color:black;
        cursor:pointer;
    }

    .img { 
        grid-area: 3 / 5 / 8 / 12; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;       
    }
    .img div{
        width: 23.426vw;
        height: 27.892vw;
        background-image: url(../images/task4/goatimg.svg);
        background-repeat: no-repeat;
    }
    .text { 
        grid-area: 8 / 5 / 12 / 13; 

    }
    .text div{
        width: 57.7vw;
        height: fit-content;
    }
    .footer { 
        grid-area: 10 / 1 / 10 / 13; 
        background-color: #63696E;
        height: 5.124vw;
    }
    .footer div{
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 7.321vw;
    }
    .footer div h3{
        display: flex;
        justify-content: center;
        align-items: center;
        font: MyriadPro;
        font-size: 1.464vw;
        color: #0C1927;
        padding-left: 1.464vw;
        padding-right: 1.464vw;
        height: 50%;
    }
    .footer div .copyright{
        padding-left: 51.245vw;
        color: #010101;
    }
    .footer div h3:hover{
        color:cyan;
        cursor:pointer;
        text-decoration: underline;
    }

.resolution{
    display: flex;
    padding-top: 0.732vw;
    justify-content: center;
    align-items: center;
}
.mobileparent{
    height: 52.709vw;
    width: 27.452vw;
    display: flex;
    flex-direction: column;
}
.mobileparent .div1{
    border-bottom:0.073vw solid lightgray ;
    display: flex;
    justify-content: space-between;
    padding: 0.732vw;
    box-shadow: 0vw 0.037vw 0vw rgba(0, 0, 0, 0.3);
}
.mobileparent .div1 .text{
    margin-top: 1.83vw;
}
.mobileparent .chats{
    display: flex;
    border-bottom:0.073vw solid lightgray ;
    background-color: #FFFFFF;
    padding-left: 0.732vw;
}
.mobileparent .chats:hover{
    cursor:pointer;
    background-color: lightgray;

}
.mobileparent .chats img{
    align-self: left;
}
.mobileparent .chats div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 0.732vw;
}
.mobileparent .chats div h3{
    height: 0.366vw;
    
}
.mobileparent .div6{
    height: 11.641vw;
}
.mobileparent .div7{
    border-top:0.073vw solid lightgray ;

    border-bottom:0.073vw solid lightgray ;
    display: flex;
    height: 7.321vw;
    justify-content: space-around;
    align-items: center;
}
.mobileparent .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.464vw;
    width: 5.124vw;
    height: 2.196vw;
    background: linear-gradient(202.17deg, #FF00D6 8.58%, #FF4D00 91.42%);
}
