*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x:hidden;
    overflow-y: auto;
}
.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
.mainmenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    height: 900px;
    width: 800px;
    border-radius: 23.3889px;

    background-color: #FFFFFF;
}
.mainmenu .header{
    padding: 28px 0px 20px 0px;
}
.mainmenu .form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainmenu .form .submit{
    height: 30px;
    width: 90px;
    border-radius: 10px;

    background-color: hsl(339, 78%, 55%);
    color: white;
    align-self: flex-end;
}
.mainmenu .form .labeled{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 0px;
    gap: 10px;
    width: 300px;
}
.mainmenu .form .labeled input{
    border: 2px solid #E53170;
    height: 30px;
    border-radius: 10px;
}
.mainmenu .form .labeled select{
    border: 2px solid #E53170;
    height: 30px;

    border-radius: 10px;
}


.mainmenu .tasks{
    margin-top: 10px;
    height: fit-content;
}
.mainmenu .tasks .task{
    display: flex;
    background-color: #E5E5E5;
    height: fit-content;
    width: fit-content;
    margin: 10px 0px 0px 0px;
    box-shadow: 0px 0px 9.35556px #E6E6E6;
border-radius: 11.6944px;
}
.mainmenu .tasks .task .content{
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.mainmenu .tasks .task .content .taskname{
    margin: 0px 0px 10px 0px;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    background-color: transparent;
}
.mainmenu .tasks .task .content #taskpriority{

text-align: center;   
 /* padding: 10px 0px 0px 30px; */
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-size: 1em;
    /* font-style: italic; */
    background: #fff;  
      background-color: #E53170;
    color: black;
    font: bold;
    
}
.mainmenu .tasks .task .content #taskpriority option{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid red;
    border-radius: 5px;
}
.mainmenu .tasks .task .buttonsdiv{
    padding: 30px;
}
.mainmenu .tasks .task .buttonsdiv .editbutton{
    border-radius: 10px;
    width: 50px;
    height: 30px;
    margin: 20px 10px 0px 0px ;
    background-color: hsl(339, 78%, 55%);
    color: white;

}
.mainmenu .tasks .task .buttonsdiv .deletebutton{
    border-radius: 10px;
    width: 50px;
    color: whitesmoke;
    height: 30px;
    background-color: hsl(339, 78%, 55%);

}