*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    gap: 3.66vw;
    font-size: 1vw;
    justify-content: center;
    align-items: center;
}
.secondaryheader{
    display: none;
}
.headerLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.392vw;
    padding: 2.928vw 14.641vw 2vw 10.302vw;
    
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotop{
    display: flex;
}
.logo img{
    width: 2.6vw;
}
.headerLeft a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 5px;
    border: 1px solid white;


}
.headerLeft a:hover{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.headerRight{
    display: flex;
    padding: 2.928vw 6.641vw 2vw 5.302vw;
    gap: 4.392vw;
    justify-content: center;
    align-items: center;
    border: 0vw solid;
}
.headerRight .input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerRight .signup{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerRight .input input{
    background-color: transparent;
    border: 0vw solid;
    height: 1.464vw;
    width: 11.713vw;
    color: grey;
    padding: 1.464vw 1.464vw 1.464vw 2.928vw;
    font-size: 1.171vw;
}
.headerRight .input input:focus{
    outline: 0.073vw solid lightgray;
    border-radius: 0.732vw;
}
.headerRight .input i{
    position: relative;
    left: 1.83vw;
    top: 0.146vw;
}
.headerRight .signup i{
    position: relative;
    left: 2.928vw;
    color: white;
}
.headerRight div a{
    padding: 1.098vw 2.928vw 1.098vw 3.66vw;
    text-decoration: none;
    background-color: #7134eb;
    color: white;
    border-radius: 0.732vw;

}

.mid{
    display: flex;
    align-self: flex-start;
    /* gap: 600px; */
}
.filters{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    padding: 10px 400px 10px 150px;
    /* background-color: #7134eb; */
}
.filters label{
    font-weight: bold;
}
.filters form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    

}
.mid .filters form p{
    font-size: 2em;
    padding: 10px;
}
.mid .filters form div{
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding: 10px;
}
.mid .filters form div input{
    width: 3em;
    height: 3em;
    background-color: white;
    border-radius: 10px;
    vertical-align: middle;
    border: 1px solid #ddd;
    /* appearance: none;
    -webkit-appearance: none;
    outline: none; */
    cursor: pointer;

    margin: 10px;
}


.sorting{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px 10px 10px 10px;
}
.sorting p{
    font-size: 2em;
    margin: 10px;
}
.sorting select{
    padding: 10px;
    margin-top: 5px;
}   
.sorting div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.5em;
}

.sortbyrating{
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
}
.sortbytasks{
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
}
.checked {
    color: orange;
  }
.unchecked{
    color: lightgray;
}

  

.smallbackground{
    background-color: lightgray;
    width: 100%;
    height: 20%;
    position: relative;
}
.secondarysmallbackground{
    display: none;
}

.grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    /* background-color:#7134eb; */
    justify-content: center;
    /* position: relative; */
    /* bottom: 1.464vw; */
}


.divcell{
    border: 1px solid #C7C9CB;
    border-radius: 6px;


    padding: 15px;
    margin-top: 20px;
    width:500px;
    height: fit-content;
}
.divcellheader{
    font-size: 1.2em;
    padding: 10px;

}
.divcellheaderrating{
    display: flex;
    padding: 30px 10px 10px 10px;
}
.achievements{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5em;
    padding: 5px;
}
.achievements div{
    display: flex;
    padding: 10px;
}

.description{
    font-size: 1.5em;
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
}

.divcellfooter{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    padding: 10px;
}
.divcellfooter a{
    text-decoration: none;
    color: blue;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divcellfooter p{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

footer{
    width: 100%;
    
}
.footertop{
    
    background-color: lightgray;
    
    display: flex;
    justify-content: flex-end;

}
.footertop .footertoptext{
    padding: 1.464vw;
    gap: 0.366vw;
}
.footertoptext a{
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 0.732vw;
}
.buttons{
    padding: 1.464vw 2.196vw 0vw 0vw;
    display: flex;
    gap: 1.464vw;
}
.buttons a{
    padding: 0.366vw;
}
.footerbotTop{
    display: flex;
    padding: 20px 20px 20px 40px;
}
.footerbotTop p{
    cursor: pointer;
}
.footerbotTop div{
    width: 14.641vw;
    padding: 1.464vw 1.464vw 1.464vw 7.928vw;
}
.footerbotTop p{
    padding: 0.366vw;
}
#logosfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0vw 0vw 0vw 5.857vw;
}
.footerbotBot{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerbotBot .icons{
    display: flex;
    gap: 1.464vw;
    padding: 0vw 10.785vw 1.464vw 2.321vw;
}
.footerbotBot .icons i{
 cursor: pointer;
}
.footerbotBot p {
    padding: 0vw 1.464vw 1.464vw 4.64vw;
    cursor: pointer;
}
/* 
@media only screen and (max-width: 600px){
    body{
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .logo img{
        height: 30px;
        width: 30px;
    }
    .grid{
        position: static;
        grid-template-columns: auto;
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    .primarycelldiv{
        width: 330px;
        align-items: center;
    }
    .cellbotdiv{
        display: none;
    }
    .celltopdiv{
        width: 100%;
    }
    .smallbackground{
       display: none;
    }
    header{
        display: none;
    }
    .secondaryheader{
        display: flex;
        width: 100%;
        padding: 10px;
    }
    .secondaryheader .icon{
        height: 30px;
        width: 30px;
    }
    .secondarysmallbackground{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
    }

    .secondarysmallbackground div{
        display: flex;
        gap: 5px;
    }
    .secondarysmallbackground div i{
        color: coral;
    }
    .celltopdiv{
        justify-content: center;
        align-items: center;
    }
    .celltopdivtextdivH3{
        position: static;
        padding:  16px 24px;
        font-size: 4.464vw;
        white-space:initial;
        /* width: 75%;
        margin: auto;
    }
    .cellbotdiv{
        font-size: 10px;
        width: 100px;
    }
    footer{
        display: none;
    }
}  */