*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

}
.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.startdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.utility{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* border: 2px solid black; */
}

.images{
    display: none;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    border: 5px solid yellow;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,240,0.927608543417367) 50%, rgba(69,73,252,1) 98%);
}

.imageCell{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    border: 5px solid yellow;
    

}
.deletedcell{
    display: none;
}
.newImgInputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
 padding: 20px;
 /* border: 1px solid black; */
 border-radius: 10px 0px 0px 10px;
}
.inputUrl{
    padding: 20px;
    font-size: 1em;

}
.button{
    font-size: 1em;
    height: 65px;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;

}
.selectimg{
    font-size: 1em;
    padding: 20px;
    border-radius: 10px;
    border-radius: 10px 0px 0px 10px;

}